.table {
  margin-top: 30px;
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-areas:
    "sidebar title ads"
    "sidebar place ads"
    "sidebar place ads";
}

.title {
  grid-area: title;
  background-color: gold;
  font-family: "Lobster", sans-serif;
  text-align: center;
  font-size: 40px;
}

.sidebar {
  grid-area: sidebar;
  background-color: gold;
}

.place {
  grid-area: place;
  background-color: gold;
  display: grid;
  gap: 5px;
  grid-template-rows: 0.05fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "buttons"
    "field";
}

.ads {
  grid-area: ads;
  background-color: gold;
}

.buttons {
  text-align: center;
  background-color: aquamarine;
}

.field {
  text-align: center;
  background-color: aquamarine;
}

.target {
  margin-left: 10px;
}